.splashscreen {
  background-color: #e4edf2;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-animation: fadeout 1.2s linear forwards;
  animation: fadeout 1.2s linear forwards;
}

.img {
  max-width: 250px;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}