.btn {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 2rem;
    
    height:100%;
    width:100%;
    min-width: 80px;

    box-sizing: border-box;
    border: 1px solid; 
    border-color: #076471;
    color: black;
}